$red: rgba(255, 94, 91, 1);
$grey: rgba(216, 216, 216, 1);
$neutral: rgba(255, 255, 234, 1);
$turquoise: rgba(0, 206, 203, 1);
$yellow: rgba(255, 237, 102, 1);

label {
  color: #565a5c;
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 10px;
}

select {
  color: #565a5c;
  background-color: #fff;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 10px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.select:before {
  content: '\25bc';
  font-size: 1.2em;
  position: absolute;
  color: #82888A;
  top: 40px;
  right: 30px;
  transform: scale(0.84, 0.42);
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.panel-heading.preview {
  padding: 0;
}

.panel-heading.preview img{
  width: 100%;
}

.clear-bottom {
  margin-bottom: 20px;
}

#preview {
  margin-bottom: 20px;
}

.booking-table td {
  width: 100%;
  border: 1px solid #dce0e0;
  padding: 10px;
  margin-bottom: 20px;
}


.price_tag {
  background-color: #606567;
  color: #fff;
  font-size: 15px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

body {
  background-color: $neutral;
}

//* Navbar Styling

.navbar {
  background-color: $turquoise;
}

.navbar-default .navbar-brand {
  color: white;
  font-family: 'Rokkitt', serif;
  font-size: 2.5em;
}

.navbar-default .navbar-brand:hover {
  color: #ffefae;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: $turquoise;
}

.dropdown-menu {
  background-color: white;
  color: $red;
}

a {
  color: $red;
}

a:hover {
  color: #333;
  text-decoration: none;
}

.btn-primary {
  background-color: $red;
  border: white;
}

.btn-primary:hover {
  background-color: #333;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: $turquoise;
}
